:root {
  --header-height: 80px;
  --guardian-logo-height: 72px;
  --space-left: 80px;
  --constrained-section-width: 1100px;
  --brand-400: #041f4a;
  --brand-alt-400: #ffe500;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: var(--brand-400);
  color: #ffffff;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  padding-left: var(--space-left);
  border-bottom: 1px solid #ffffff;
}

section {
  position: relative;
  height: 100vh;
  margin-left: var(--space-left);
  padding-top: var(--header-height);
  padding-left: 20px;
  border-left: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section:first-of-type {
  border-left: 0;
}

a {
  color: var(--brand-alt-400);
}

h2 {
  font-family: "GT Guardian Titlepiece", Georgia, serif;
  font-size: 50px;
  line-height: 58px;
  color: var(--brand-alt-400);
  margin: 16px 0;
}

.guardian-logo {
  text-align: right;
  width: var(--constrained-section-width);
  max-width: 100%;
}

.guardian-logo img {
  height: var(--guardian-logo-height);
}

.section-footer {
  margin-bottom: 25px;
}

.anchor-link {
  font-family: "GT Guardian Titlepiece", Georgia, serif;
  font-size: 42px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.anchor-link__icon {
  width: 68px;
  height: 68px;
  border-radius: 68px;
  background-color: var(--brand-alt-400);
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.anchor-link__icon > img {
  flex: 1;
  width: 50px;
  height: 50px;
}
