:root {
  --header-height: 100px;
  --guardian-logo-height: calc(var(--header-height) * 0.85);
  --space-left: 80px;
  --constrained-section-width: 1100px;
  --brand-400: #041f4a;
  --brand-alt-400: #ffe500;
  --neutral-100: #ffffff;
  --neutral-66: #a9a9a9;
  --section-padding-left: 20px;
  --border-primary: 1px solid var(--neutral-100);
  --description-box-width: 325px;
  --transition-short: 0.2s ease-in-out;
  --jobs-aside-button-size: 80px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: var(--brand-400);
  color: var(--neutral-100);
  scroll-behavior: smooth;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  transition: height var(--transition-short);
}

section {
  position: relative;
  height: 100vh;
  padding-top: var(--header-height);
  padding-left: var(--section-padding-left);
  border-left: var(--border-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: padding-top var(--transition-short);
}

section:first-of-type {
  border-left: 0;
}

a {
  color: var(--brand-alt-400);
}

h2 {
  font-family: "GT Guardian Titlepiece", Georgia, serif;
  font-size: 50px;
  line-height: 58px;
  color: var(--brand-alt-400);
  margin: 16px 0;
}

.guardian-logo img {
  height: var(--guardian-logo-height);
  transition: height var(--transition-short);
}

.section-footer {
  margin-bottom: 25px;
}

.anchor-link {
  font-family: "GT Guardian Titlepiece", Georgia, serif;
  font-size: 42px;
  color: var(--neutral-100);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.anchor-link__icon {
  width: 68px;
  height: 68px;
  border-radius: 68px;
  background-color: var(--brand-alt-400);
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.anchor-link__icon > img {
  flex: 1;
  width: 50px;
  height: 50px;
}

.description-box {
  font-family: GuardianTextEgyptian, Georgia, serif;
  font-size: 20px;
  width: var(--description-box-width);
}

.description-box + .description-box {
  margin-left: 20px;
}
