.brand {
  width: var(--constrained-section-width);
}

.brand__images {
  display: flex;
  justify-content: space-between;
}

.brand__images__image {
  border-top: var(--border-primary);
  border-right: var(--border-primary);
  height: 230px;
  padding: 16px;
}

.brand__images__image:first-of-type {
  margin-left: calc(var(--section-padding-left) * -1);
}

.section-footer--brand {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.brand__description {
  display: flex;
}
