.colour-system__description {
  display: flex;
}

.colour-system__description > p {
  font-family: GuardianTextEgyptian, Georgia, serif;
  font-size: 20px;
  width: 350px;
}

.colour-system__description > p:first-child {
  margin-right: 20px;
}

.pillar-colour {
  height: 140px;
  width: 100%;
}

.pillar-colour--news {
  background-color: #ab0613;
}

.pillar-colour--opinion {
  background-color: #e05e00;
}

.pillar-colour--sport {
  background-color: #0084c6;
}

.pillar-colour--culture {
  background-color: #a1845c;
}

.pillar-colour--liefstyle {
  background-color: #bb3b80;
}
