.colour-system__description {
  display: flex;
}

.colour-system__pillar-colours {
  margin-left: calc(var(--section-padding-left) * -1);
}

.pillar-colour {
  height: 120px;
  width: 100%;
  display: flex;
}

.pillar-colour--news {
  --dark: #ab0613;
  --main: #c70000;
  --bright: #ff4e36;
}

.pillar-colour--opinion {
  --dark: #bd5318;
  --main: #e05e00;
  --bright: #ff7f0f;
}

.pillar-colour--sport {
  --dark: #005689;
  --main: #0084c6;
  --bright: #00b2ff;
}

.pillar-colour--culture {
  --dark: #6b5840;
  --main: #a1845c;
  --bright: #eacca0;
}

.pillar-colour--lifestyle {
  --dark: #7d0068;
  --main: #bb3b80;
  --bright: #ffabdb;
}

.f1 {
  flex: 1;
}
.f15 {
  flex: 1.5;
}
.f2 {
  flex: 2;
}
.f3 {
  flex: 3;
}

.pillar-colour--dark {
  background-color: var(--dark);
}

.pillar-colour--main {
  background-color: var(--main);
}

.pillar-colour--bright {
  background-color: var(--bright);
}
