.jobs {
  position: fixed;
  top: 0;
  grid-template-areas:
    "main ."
    "description aside"
    "footer .";
  grid-template-columns: auto 25%;
  grid-template-rows: auto;
  z-index: 1;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.menu {
  background-color: var(--neutral-100);
  width: var(--space-left);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

.menu img {
  width: 60px;
  height: 60px;
  transition-property: transform;
  transition-duration: 0.5s;
}

.jobs[data-is-hidden="true"] {
  transform: translate(
    calc(-100% + var(--jobs-aside-button-size)),
    calc(-100% + var(--jobs-aside-button-size))
  );
}

.jobs[data-is-hidden="false"] {
  transform: translate(0px, 0px);
}

.jobs[data-is-hidden="true"] #jobs-aside-button img {
  transform: rotate(315deg);
}

.jobs[data-is-hidden="false"] #jobs-aside-button img {
  transform: rotate(135deg);
}

.jobs-hero {
  grid-area: main;
  font-family: "GT Guardian Titlepiece", Georgia, serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 99px;
  color: var(--brand-400);
  background-color: var(--neutral-100);
}

.jobs-description {
  grid-area: description;
  font-family: "GT Guardian Titlepiece", Georgia, serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 39px;
  color: var(--brand-400);
  background-color: var(--neutral-100);
  border-top: 1px solid #000000;
}

.jobs-footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  font-family: "GT Guardian Titlepiece", Georgia, serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 40px;
  color: var(--brand-400);
  background-color: var(--neutral-100);
}

.jobs-email {
  color: #ff4e36;
}

.jobs-aside {
  grid-area: aside;
  border-top: var(--border-primary);
}
