.typography__example {
  padding: 5px 20px;
  border-top: var(--border-primary);
  margin-bottom: 50px;
}

.typography__example:nth-child(odd) {
  float: left;
  margin-left: calc(var(--section-padding-left) * -1);
}

.typography__example:nth-child(even) {
  float: right;
}

.typography__example::before {
  content: "";
  display: block;
  clear: both;
}

.typography__example--titlepiece {
  font-family: "GT Guardian Titlepiece", Georgia, serif;
  font-weight: 700;
  font-size: 178px;
}

.typography__example--headline {
  font-family: "GH Guardian Headline", Georgia, serif;
  font-weight: 700;
  font-size: 54px;
}

.typography__example--egyptian {
  font-family: "GuardianTextEgyptian", Georgia, serif;
  font-weight: 400;
  font-size: 31px;
}

.section-footer--typography {
  width: 1100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.typography__description {
  display: flex;
}
